* {
  position: relative;
  margin: 0px;
  padding: 0px; }

body {
  min-height: 100vh;
  background-color: #243443;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  body .login {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #efefef;
    width: 450px;
    padding: 40px 80px;
    padding-top: 80px; }
    body .login img {
      top: -80px;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
      transform: translate(-50%, -70%);
      width: 160px;
      height: 160px;
      border-radius: 50%;
      border: solid 10px #fff; }
    body .login .login-wrap .btn {
      width: 100%; }
